.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  margin-bottom: 5px;
}

.featured-titles-carousel {
  max-width: 100%;
  margin: auto;
  height: 550px;
}

.featured-title-carousel-card {
  object-fit: cover;
  max-width: 80%;
  height: 30rem;
  display: block;
  margin: 0 auto;
  width: 18rem;
}

.featured-title-carousel-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
  box-shadow: 10px 5px 5px black;
  background-color: black;
}

.title-card-image {
  object-fit: scale-down;
  max-width: 100%;
  max-height: 85%;
  display: block;
  margin: 0 auto;
}

.account-button {
  margin: 5px;
  max-width: 20%;
}

.account-card {
  max-width: 50%;
}

.notification-box {
  position: absolute;
  z-index: 5;
  max-width: 92%;
  margin-bottom: 5px;
}

.genres {
  margin-top: 10px;
}

.genre-bubble {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px; /* spacing between bubbles */
  border-radius: 20px; /* border-radius makes bubbles */
}

.isadult {
  display: inline-block;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px; /* spacing between bubbles */
  border-radius: 20px; /* border-radius makes bubbles */
}

.custom-card {
  display: flex; /* Use flexbox for layout */
  width: 100%; /* Make the card take 100% of the available width */
}

.custom-card-image {
  flex-shrink: 0; /* Prevent the image from shrinking */
  width: 200px; /* Set a fixed width for the image */
  margin-right: 20px; /* Add spacing between the image and the card content */
}

.title-rating-star {
  fill: #ffc107;
  height: 80px;
  width: 80px;
}

.user-rating-star {
  fill: #3498db;
  height: 80px;
  width: 80px;
}

.global-rating-text {
  /*have text in the middle horizontally and vertically*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  /*make the text bold and a little bigger*/
  font-weight: bold;
  font-size: 1.2rem;
}

.user-rating-button {
  /*Place the button in the middle vertically without stretching it*/
  /* display: flex;
  align-items: center; */
  /*Center it horizontally*/
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  /*make the text bold and a little bigger*/
  font-weight: bold;
  font-size: 1.2rem;
}

.your-rating-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 20px;
}

.userrating-icon-container {
  transition: color 0.3s ease-in-out;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.bookmark-icon-container {
  transition: color 0.3s ease-in-out;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.bookmark-icon-container svg {
  width: 80px;
  height: 80px;
  fill: #3498db;
}

.userrating-icon-container svg {
  width: 80px;
  height: 80px;
  fill: #3498db;
}

.star-rating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
}

.global-rating-star {
  display: inline-block;
  position: relative;
}

.title-actions {
  display: flex;
  justify-content: left;
  align-items: left;
}

.title-actions {
  margin-right: 30px;
}
